extends layout

block content
  .container
    .row.justify-content-center
      .col-md-8.col-lg-6
        .card.mt-5.shadow
          .card-body.text-center
            h1.mb-4 Bienvenido a Artesanos
            p Una red social donde artistas y artesanos comparten sus creaciones

            .d-grid.gap-3.mt-4
              a.btn.btn-primary.btn-lg(href='/login') Iniciar Sesión
              a.btn.btn-success.btn-lg(href='/registrar') Registrarse
              a.btn.btn-outline-info.btn-lg(href='/#') Modo Vitrina

            .mt-4.text-muted
              small &copy; 2025 Artesanos.com