doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registrar Usuario
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
    body.bg-light 
        .container 
            .row.justify-content-center 
                .col-md-8.col-lg-6
                    .card.mt-5.shadow 
                        .card-body
                            h3.text-center.mb-4 Registrar Usuario
                            form(action="/registrar", method="post") 
                                .row 
                                    .col-md-6.mb-3 
                                        label.form-label(for='nombre') Nombre 
                                        input#nombre.form-control(type='text', name='nombre',required,placeholder='Ingrese su nombre')
                                    .col-md-6.mb-3 
                                        label.form-label(for='apellido') Apellido
                                        input#apellido.form-control(type='text',name='apellido',required,placeholder='Ingrese su apellido')
                                .mb-3 
                                    label.form-label(for='fehca_nacimiento') Fecha de Nacimiento
                                    input#fecha_nacimiento.form-control(type='date',name='fecha_nacimiento',required)
                                .mb-3 
                                    label.form-label(for='sexo') Sexo 
                                    select#sexo.form-select(name='sexo',required)
                                        option(value='',disabled selected) Seleccionar sexo 
                                        option(value='Masculino') Masculino
                                        option(value='Femenino') Femenino
                                        option(value='Otro') Otro
                                .mb-3
                                    label.form-label(for='intereses') Intereses
                                    input#intereses.form-control(type='text',name='intereses',required,placeholder='Pintura, Escultura...')
                                .mb-3 
                                    label.form-label(for='antecedentes') Antecedentes 
                                    input#antecendentes.form-control(type='text',name='antecedentes',placeholder='...')
                                .mb-3 
                                    label.form-label(for='imagen_perfil') Imagen de Perfil (URL)
                                    input#imagen_perfil.form-control(type='url',name='imagen_perfil',placeholder='https://...')
                                .mb-3 
                                    label.form-label(for='email') Correo Electronico 
                                    input#email.form-control(type='email',name='email',required,placeholder='usaurio10@gmail.com')
                                .mb-3
                                    label.form-label(for='password') Contraseña
                                    input#password.form-control(type='password',name='password',required,placeholder='Ingrese su contraseña')
                                button.btn.btn-success.w-100(type='submit') Registrarme 
                                .text-center.mt-3
                                    a(href="/login") ¿Ya tienes una cuenta? Iniciar sesión
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js") 